<div class="">
    <div>
        <div class=" bg-gray-900 fixed w-full top-0 z-50 rounded-lg p-6">
            <ul class="flex gap-12 justify-center items-center">
                <li class="text-white font-semibold"><%= link_to 'HOME',blogpages_path %></li>
                <li class="text-white font-semibold"><%= link_to 'USER BLOG',user_blog_path %></li>
                <li class="text-white font-semibold"><%= link_to 'ADD BLOG', new_blogpage_path %></li>
                <li class="text-white font-semibold"><%= link_to "LOG OUT", destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </ul>  
        </div>
        <div class=" flex  flex-col justify-center items-center p-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8 mt-24">
                <% if @blogpages.any? %>
                    <% @blogpages.each do |blogpage| %>
                        <div class="bg-white rounded-lg shadow-2xl overflow-hidden">
                            <div class="relative h-40">
                                <%= image_tag blogpage.avatar, class: "object-cover w-full h-full" if blogpage.avatar.attached? %> 
                            </div>  
                            <div class="p-4">
                                <h2 class="text-xl font-bold mb-2"><%= blogpage.title %></h2>
                                <p class="text-gray-600 mb-4"><%= truncate(blogpage.content, length:200, separator:' ') %></p>
                                <%= link_to "Read More", blogpage_path(blogpage.id), class: "text-blue-500 hover:underline" %>
                            </div>      
                        </div>    
                    <% end %>
                <% else %>
                    <p class="text-gray-600">No blog pages found.</p>
                <% end %>    
            </div>
        </div>    
    </div>    
</div>